<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438327085366-544lsp8e00ttkjv5tn4sfc4ok69v6d87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438327085366-544lsp8e00ttkjv5tn4sfc4ok69v6d87</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ7ncU97x13DGluA7PRQTUgQJ-7NN7Fy4</string>
	<key>GCM_SENDER_ID</key>
	<string>438327085366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.patronist</string>
	<key>PROJECT_ID</key>
	<string>the-patronista</string>
	<key>STORAGE_BUCKET</key>
	<string>the-patronista.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438327085366:ios:862e7da662571cca780b97</string>
</dict>
</plist>